[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
colorlog = "*"
pyyaml = "*"
lxml = "*"
statsmodels = "*"
peanut = {path = "/tmp/peanut-0.0.0-py3-none-any.whl"}
"ac29932" = {file = "https://github.com/Ezibenroc/pytree/releases/download/0.0.6/pytree-0.0.6-py3-none-any.whl"}

[dev-packages]
ipython = "*"
jupyterlab = "*"
graphviz = "*"
matplotlib = "*"
altair = "*"
pandas = "*"
vega-datasets = "*"
scipy = "*"
palettable = "*"
plotnine = "*"
"rpy2" = "*"
tzlocal = "*"
"pymc3" = "*"
sampled = "*"
pystan = "*"

[requires]
python_version = "3.6"
